/* variable font style */
/* Usage: */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.arimo-<uniquifier> {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fffd;
    font-family: "Arimo", sans-serif;
}

:root
{
    --resizer: calc(0.5rem + 0.6vw + 0.2vh);
}


body
{
    background-color: #0c1322;
    /* background: url(''); */
    overflow-x: hidden;
}

#main-header
{
    height: clamp(40px, 8vh, 80px);
    width: 100vw;
    background-color: rgba(250, 235, 215, 0.068);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(0.5rem + var(--resizer));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.158);
}
#main-header .city
{
    font-size: calc(0.8rem + var(--resizer));
    font-weight: 400;
}
#main-header .menu
{
    display: flex;
    list-style-type: none;
    gap: 0.5em;
    font-size: calc(0.4rem + var(--resizer));
}

.container
{
    padding: calc(0.2rem + var(--resizer));
    margin: calc(0.2rem + var(--resizer)) auto;
    width: clamp(430px, 50vw, 840px);
    border: 1px solid gray;
}

#weather-board
{
    height: clamp(220px, 20vh, 440px);
    width: 100%;
    background-color: rgba(250, 235, 215, 0.068);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: calc(0.5rem + var(--resizer));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.158);
}
#weather-board .temp-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temp-info .temp
{
    font-size: calc(4.4rem + var(--resizer));
    font-weight: 800;
}
.temp-info .info
{
    font-size: calc(0.2rem + var(--resizer));
    text-align: center;
    word-wrap: break-word;
    /* word-break: break-all; */
    /* width: clamp(320px, 50vw, 840px); */
}

#weather-forecast
{
    width: 100%;
    /* padding: calc(0.2rem + var(--resizer)); */
}

.pallete
{
    display: flex;
    padding: calc(0.4rem + var(--resizer));
    border: 1px solid rgba(212, 202, 201, 0.171);
    border-radius: 10px;
    margin: calc(0.4rem + var(--resizer)) 0;
    background-color: #0c0f16;
    overflow-x: auto;
    gap: 16px;
}

.day-pallete .time-stamp
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 calc(0.2rem + var(--resizer));

}

.forecast-pallete
{
    flex-direction: column;
}

.forecast-pallete .day-stamp
{
    display: flex;
    justify-content: space-between;
}
.day-stamp #forecast-date, 
.day-stamp #forecast-day,
.day-stamp #forecasr-icn,
.day-stamp #forecast-temp
{
    min-width: fit-content;
    /* border: 1px solid salmon; */
    width: 20%;
    max-width: 120px;
}
.day-stamp #forecast-date
{
    text-align: center;
}


/* Scrollbar style */
/* width */
::-webkit-scrollbar {
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6d6969; 
    border-radius: 50px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {

    background: #555; 
  }